In [1]:
print("Hello world")

Hello world

In [58]:
gf_name = "chuubaa"
bf_name = "Shuuu"
bf_job_type="Data Engineer"
gf_job_type="Professor"
salary_earned=1000000000000

In [59]:
print("I am",bf_name, "and she is", gf_name, "and I am a",bf_job_type,"and she is a ",gf_job_type, "and we are living very happily, say thuthuthu")
print(type(gf_name))
salary_casted = str(salary_earned)
print("My salary is", salary_casted)

I am Shuuu and she is chuubaa and I am a Data Engineer and she is a  Professor and we are living very happily, say thuthuthu
<class 'str'>
My salary is 1000000000000

In [6]:
if gf_job_type== "Professor":
   print("Sure marry u")
else:
   print("No marry u")

Sure marry u

In [15]:
love = 2
for num in range(1,11):
    if num % 2 == 0:
        print(love + num)
    else:
        exit

4
6
8
10
12

In [16]:
#finding the sum of elements in a list

int_list=[2,5,8,3,9]
list_sum = 0
for num in int_list:
    list_sum += num
    
print(list_sum)

27

In [17]:
#print the table of 9 using while loop

num = 9
counter = 1

while counter <= 10:
    ans = num * counter
    print(f"{num} * {counter} = {ans}")

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

In [25]:
sports = ["Football", "Basketball", "Tennis", "Cricket", "Baseball", "Golf", "Rugby", "Volleyball", "Hockey", "Soccer"]
for num in sports:
    print("current sport", num)
    if num == "Golf":
        print("Golf is the best sport")
        break

current sport Football
current sport Basketball
current sport Tennis
current sport Cricket
current sport Baseball
current sport Golf
Golf is the best sport

In [27]:
L1 = []
L1.append(2)
L1.append(5)
L1.append(7)

print(L1)

[2, 5, 7]

In [34]:
int_list=[]
for num in range(1,21):
    int_list.append(num)
print(int_list)
print("length of the given length :", len(int_list))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
length of the given length : 20

In [36]:
list1=[1,3,5,5,6,9,3,7]
print("the maximum of the list is :", max(list1))

the maximum of the list is : 9

In [40]:
#functions in python
def lovevannu(percent):
    print("Love you Vannu, susu kazhinjj vanappo", percent, "love vannu")

lovevannu(99.69)

Love you Vannu, susu kazhinjj vanappo 99.69 love vannu

In [41]:
def avg_calc(a,b):
    return (a+b)/2
print(avg_calc(2,8))

5.0

In [46]:
def facto_num(a):
    if a == 0 or a == 1:
        return 1
    else:
        return a * facto_num(a-1)
print(facto_num(10))

3628800

In [47]:
#lambda function in python
#lambda function is a small anonymous function
#it can take any number of arguments but can have only one expression
#it is used to create small functions
 
lambda_func_add = lambda x : x + 5 

y = 15
print(lambda_func_add(y))

20

In [48]:
max_of_two = lambda x,y : x if x>y else y
print (max_of_two(4,5))

5

In [50]:
# map function in python
list1 = [1,2,3,4,5,6,7,8,9]

sqr_of_list = lambda x : x*x

list2 = map(sqr_of_list, list1)
print(list(list2))

#syntax 
#map(function,iterable)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [52]:
list3 = [4,6,3,6,8,4,3,2]
idk_list = lambda x : x/2 
idk2 = map(idk_list, list3)
print(list(idk2))

[2.0, 3.0, 1.5, 3.0, 4.0, 2.0, 1.5, 1.0]

In [54]:
import functools

list9 = [1,2,3,4,5,6]

add_func = lambda x,y : x + y
added_list = functools.reduce(add_func, list9)
print(added_list)

21

In [57]:
seq = [1,2,3,5,6,8,9]
filter_seq = lambda x : x%2==0
fillseq = filter(filter_seq, seq)
print(list(fillseq))

[2, 6, 8]

In [64]:
list_empty = []
for i in range (1,11):
    list_empty.append(i)

print(list_empty)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [65]:
result = [ x for x in range (1,11)]
print(result)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [66]:
list_a = [1,-1,2,-5,9,10,-6]
result = [ x for x in list_a if x>0 ] + [ x for x in list_a if x<0 ]
print(result)

[1, 2, 9, 10, -1, -5, -6]